/* Framework styles */

#WebGL-output {
    /* set margin to 0 and overflow to hidden, to go fullscreen */
    margin: 0;
    overflow: hidden;
}

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.scroll {
    overflow: auto;
}
#notSupported {
    background: #a9434a;
    border-radius: 15px;
    color: black;
    padding: 2%;
}
#notSupported {
    top: 25%;
    left: 35%;
}
#info {
    top: 30%;
    right: 15%;
    background-color: #284f9c;
    padding: 2%;
    border-radius: 10px;
    text-align: left;
    font-size: 1.6vw;
    font-family: Arial;
}
.infoButton {
    margin-left: 33%;
    width: 25%;
}
.dg .c input[type=text] {
    line-height:normal;
}
.dg .c div {
    box-sizing: content-box;
}
.dg .c select {
    color: black;
}
#navigation {
    bottom: 1%;
    left: 1%;
    width: 10%;
}
#navigation button {
     padding: 0;
     margin: 0;
     width: 30%;
 }
#navigation img {
    width: 35%;
}
#showNodes {
    bottom: 1%;
    right: 1%;
}
#groupInfo {
    top: 1%;
    left: 47%;
    background-color: #dbd5db;
    border-radius: 10px;
    padding: 0.5%;
}
#nodeInformation {
    top: 10%;
    left: 25%;
    width: 50%;
    height: 75%;
    background-color: #a3a4a8;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    font-size: 1.5vw;
    overflow: auto;
}
#nodeInfo, #countryInfo {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #a3a4a8;
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    font-size: 1.5vw;
}
#countryInfo {
    left: 32.5%;
    width: 35%;
}
#nodeName, #countryName {
    font-weight: bold;
}
#description {
    height: 32vh;
}
#closeNode, #closeCountry {
    position: absolute;
    right: 2%;
    bottom: 2%;
}
#contents {
    margin-top: 2%;
}
.infoMedia img {
    width: 30%;
}
#zoom {
    left: 11%;
    bottom: 2%;
    width: 3.5%;
}
#zoom button {
    width: 70%;
}
#zoom img {
    width: 70%;
}
#generalInfo {
    top: 1%;
    left: 1%;
}
#generalInfo img {
    width: 50%;
}
#camera {
    right: 1%;
    bottom: 1%;
    width: 12.5%;
}
#camera button {
    padding: 0;
    margin: 0;
    width: 30%;
}
#camera img {
    width: 35%;
}